@media only screen and (max-width : 992px) {
  body {
    font-size:1em;

    & > header {
      padding:5em;
      text-align: center;
    }

    .flip-container, .front, .back {
      width: 350px;
      height: 350px;
    }
  }

  section#problem {
    flex-wrap: wrap;
    flex-direction:column-reverse;

    & > * {
      flex: 1 1 100%;
    }
  }
}

@media only screen and (max-width : 768px) {
  body {
    font-size:.8em;

    .flip-container, .front, .back {
      width: 350px;
      height: 350px;
    }

    section {
      #measures {
        flex-wrap: wrap;

        article {
          flex-basis:100%;
          margin-bottom: 5em;

          &:last-child {
            margin-bottom:0;
          }
        }
      }

      #pricing-plans {
        flex-wrap: wrap;

        section {
          flex-basis:100%;

          &:not(:last-child) {
            margin-bottom:5em;
          }
        }
      }

      &#newsletter {
        #share {
          align-self: center;
        }
      }

      &#team {
        background-size: contain;
        height:100px;
      }
    }
  }

  p, span {
    font-size:$body-font-size * 1.4;
  }

}
