h1, h2, h3, h4, h5, h6 {
  font-family: $body-font-family;
  font-weight:$bold;
  padding-bottom:.3em;
}

h1 {
  font-size:6.075em;
  font-family: $headings-font-family;

  &#logo {
    font-size:9.112em;
    color: $white;
  }
}

h2 {
  font-size:4.05em;
  color: $ink;

  &#subtitle {
    font-family:$body-font-family;
    font-weight: $bold;
    color: $white;
  }
}

h3 {
  font-size:2.7em;
}

h4 {
  font-size:1.8em;
}

p, span {
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-font-size * 1.2;
  padding-bottom:1em;

  max-width: 35em;
}

