// typography
$headings-font-family: 'Russo One', sans-serif;
$body-font-family: 'Comfortaa', cursive;
$body-font-size: 1.6em;
$bold: 700;
$headings-color: white;

// colors
$black: #000;
$white: #fff;
$ink: #062f4f;
$posy: #9D5C91;
$red: #B82601;
