@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Russo+One');

$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "variables";
@import "typography";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #fff;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-size:1.4em;

  header {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('/images/cover.jpg') no-repeat center;
    background-size: cover;
    height:90vh;
    width:100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
  }

  section {
    padding:3em;
  }
}

header {
  background-size: cover;
  width:100%;
  min-height:50vh;
}

section.white {
  h1 {
    color:black;
  }
  background-color:#fefefe;
}

.number {
  border-radius:130px;
  width:130px;
  padding-left:40px;
  margin: 0 auto;
  height:130px;
  background-color:#366;
  color:white;
  font-size:80px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
