@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Russo+One');

$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "variables";
@import "typography";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #fff;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-size:1.4em;

  & > header {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('/images/cover.jpg') no-repeat center;
    background-size: cover;
    height:90vh;
    width:100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
  }

  // flip cards
  .pulse {
    animation-name: pulse_animation;
    animation-duration: 2000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .flip-container {
    perspective: 1000px;


    /* flip the pane when hovered */
    &:hover .flipper, &.hover .flipper {
      transform: rotateY(180deg);
    }
  }

  .flip-container, .front, .back {
    width: 350px;
    height: 350px;
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);

    &.problemo {
      background: #fff url("/images/nice-guy.jpg") no-repeat center;
      background-size: cover;
      border-radius: 5px;
    }
  }

  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);

    &.problemo-back {
      background: #fff url("/images/drunk.jpg") no-repeat center;
      background-size: cover;
      border-radius: 5px;
    }
  }

  section {
    padding:5em;
    
    &#problem {
      display: flex;
      justify-content: space-around;
      align-items: center;

      & > header {
        flex-basis:50%;
      }

      background-color: #5FA6BC;
      color: #fff;
    }
  }
}

header {
  background-size: cover;
  width:100%;
  min-height:50vh;
}

 section {
  background-color:#fefefe;
}

.number {
  border-radius:130px;
  width:130px;
  padding-left:40px;
  margin: 0 auto;
  height:130px;
  background-color:#366;
  color:white;
  font-size:80px;
}


// Animations
@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.02); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.02); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

@import "media-queries";