@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Russo+One');

$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "variables";
@import "typography";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background-color: red;

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
